.clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
}

.clearfix {
        display: inline-block;
}

html[xmlns] .clearfix {
        display: block;
}

* html .clearfix {
        height: 1%;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #3B5998;
}

#content {
    width: 200px;
}

.loading {
    margin: 4px;
    padding: 6px;
    background: #ddd;
    border: 1px solid #ccc;
}

.loading .text {
    margin-left: 10px;
    vertical-align: bottom;
    line-height: 30px;
    color: #333;
}

.error {
    margin: 4px;
    padding: 6px;
    background: #800;
    color: #fff;
    border: 1px solid #400;
}

.error h1 {
    font-weight: bold;
}

.error a {
    color: #fff;
    font-weight: bold;
}
p {
    padding-top: 4px;
    padding-bottom: 4px;
}
.user .image {
    width: 26px;
    height: 26px;
    float: left;
}

.user .name {
    font-size: 14px;
    padding-left: 6px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user:first-child {
    border-top: none;
}

.user {
    display: block;
    padding: 4px;
    width: 200px;
    border-top: 1px solid #ccc;
}
